.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 33vmin;
  pointer-events: none;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
